Job Alert Automation – MVP (1).json
{
  "name": "Job Alert Automation – MVP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "df8b9739-58b8-4b22-8805-04b7edebb9c7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "dc0fe25f-cad4-4b80-bc4b-ed90f45593e2",
      "name": "Webhook",
      "webhookId": "df8b9739-58b8-4b22-8805-04b7edebb9c7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb177c47-0be6-48be-a588-e05fe6c63590",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "bdbcab5a-41e9-4571-ac49-e9b22cf0ce93",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "524c6093-322b-4f37-a7e8-8292a8507ead",
              "name": "Phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "15de07ce-07c5-44f6-827c-38a0db028122",
              "name": "Resume Link",
              "value": "=https://drive.google.com/uc?export=download&id=1F--ouRh2V39a33jbwpt7-JO3bmsTf4kZ",
              "type": "string"
            },
            {
              "id": "767724e4-959f-4150-a73d-caeeb5d0b2a8",
              "name": "Desired Role",
              "value": "={{ $json.body['desired role'] }}",
              "type": "string"
            },
            {
              "id": "e72bc33a-b7ba-45cf-aac3-973c824d492f",
              "name": "Job Board",
              "value": "={{ $json.body['job boards'] }}",
              "type": "string"
            },
            {
              "id": "86ada2a1-b709-4f89-aa0b-3c947005d90b",
              "name": "Resume_Text",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "Alert Frequency",
              "value": "={{ $json.body['alert frequency'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "533740fd-607b-4f9a-844f-c80561912a99",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ",
          "mode": "list",
          "cachedResultName": "AI copilot ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "industry": "={{ $json.output.industry }}",
            "roles": "={{ $json.output.roles.join(\", \") }}",
            "tools": "={{ $json.output.tools.join(\", \") }}",
            "experience": "={{ $json.output.experience }}",
            "Skills": "={{ $json.output.skills.join(\", \") }}",
            "Job Boards": "={{ $('Edit Fields').item.json['Job Board'] }}",
            "Desired Role": "={{ $('Edit Fields').item.json['Desired Role'] }}",
            "Resume link": "={{ $('Edit Fields').item.json['Resume Link'] }}",
            "Phone number": "={{ $('Edit Fields').item.json.Phone }}",
            "Name": "={{ $('Edit Fields').item.json.body.name }}",
            "Email": "={{ $('Edit Fields').item.json.Email }}",
            "Alert_Frequency": "={{ $('Edit Fields').item.json['Alert Frequency'] }}",
            "Last_Alert_Time": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume link",
              "displayName": "Resume link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desired Role",
              "displayName": "Desired Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Boards",
              "displayName": "Job Boards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tools",
              "displayName": "tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alert_Frequency",
              "displayName": "Alert_Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Alert_Time",
              "displayName": "Last_Alert_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        0
      ],
      "id": "415e46ef-ecc6-4e68-9e6f-1207d4a98e1a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvMn2LmcLbgmXUoY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert ATS resume parser with strict accuracy requirements.\n\nYour task: Extract information ONLY from the provided resume text.\n\nCRITICAL RULES:\n1. Do NOT hallucinate or guess any information\n2. If information is not explicitly present, leave the field empty\n3. For experience calculation: COUNT ONLY PROFESSIONAL WORK EXPERIENCE\n   - Include: Full-time jobs, internships, freelance work, contract positions\n   - Exclude: Education duration, academic projects, coursework\n   - Calculate total years from earliest job start date to most recent job end date (or present)\n4. Search the entire resume including experience section, projects, summary, and skills\n\nExtraction Guidelines:\n- full_name: Extract the candidate's complete name\n- phone: Extract phone number in any format present\n- email: Extract email address\n- skills: List only explicitly mentioned technical/professional skills\n- tools: List only explicitly mentioned software, platforms, or technologies\n- experience: Calculate ONLY professional work experience in years (e.g., \"5 years\", \"2.5 years\")\n- roles: Extract all job titles from work experience section\n- industry: Identify the primary industry based on companies worked at\n\nReturn structured data matching the output schema.",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        0
      ],
      "id": "a112ea2c-9b08-4677-baa9-62dbeb55797c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"full_name\": \"\",\n  \"phone\": \"\",\n  \"email\": \"\",\n  \"skills\": [],\n  \"tools\": [],\n  \"experience\": \"\",\n  \"roles\": [],\n  \"industry\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        432
      ],
      "id": "87b835a5-2218-4709-98b3-feda547fef0c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        848,
        288
      ],
      "id": "bceefdb5-8925-40ee-8d8f-9a0ccce411b4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "qg2hopd1yiARqmkH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        912,
        624
      ],
      "id": "3f841e53-8791-4225-9d65-b3449ceff891",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "qg2hopd1yiARqmkH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Resume Link'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "9630e16c-3345-4b06-bd3c-a1d0bc53899b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ],
      "id": "6f628162-e228-41ab-9ba6-70593b988ed0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        928
      ],
      "id": "28cccc20-6a2d-4417-9b72-e4d1529c1cab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ",
          "mode": "list",
          "cachedResultName": "AI copilot ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "Manohar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        928
      ],
      "id": "84a26a39-af6f-47c7-812f-ffefc7535dd2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvMn2LmcLbgmXUoY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.indeed.com/jobs?q={{$json[\"Desired Role\"]}}&l=India",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        928
      ],
      "id": "ed5398d4-8eb0-456d-8dd9-bc796e7ad899",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1392,
        928
      ],
      "id": "2371ba52-2a71-4bfc-9021-83afd1c9ed60",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "504d047b-c5c7-4456-be45-c33e3d721141",
              "name": "job_title",
              "value": "={{$json[\"job_title\"]}}",
              "type": "string"
            },
            {
              "id": "14b2b397-95d1-44ed-9937-65878c66b97a",
              "name": "company",
              "value": "={{$json[\"employer_name\"]}}",
              "type": "string"
            },
            {
              "id": "baba9aa3-de2c-471a-a112-9779502b9356",
              "name": "location",
              "value": "={{$json[\"job_city\"]}}",
              "type": "string"
            },
            {
              "id": "46fe68b2-5374-448a-ab9e-f2c81cc5d169",
              "name": "apply_link",
              "value": "={{$json[\"job_apply_link\"]}}",
              "type": "string"
            },
            {
              "id": "92bf7f8a-38d1-4e14-ba24-5edccefa4730",
              "name": "job_type",
              "value": "={{$json[\"job_employment_type\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        928
      ],
      "id": "263fb19d-c20d-46f4-9626-8f87b0aa3147",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ",
          "mode": "list",
          "cachedResultName": "AI copilot ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 523541047,
          "mode": "list",
          "cachedResultName": "Job_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FBgFLnM5dqPvmP584zxiHlpVAo7lsTPjYfT0b1yxpTQ/edit#gid=523541047"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_title": "={{ $json.job_title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "apply_link": "={{ $json.apply_link }}",
            "job_type": "={{ $json.job_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        928
      ],
      "id": "7eb685a8-a8b5-4418-8cdb-be7180f007b2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvMn2LmcLbgmXUoY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        928
      ],
      "id": "c6bfcc4c-a82e-4387-9023-03d54c56ba64",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "job_apply_link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        976,
        928
      ],
      "id": "f35ad678-0c12-413e-84d5-1834bbc9d2e9",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "subject": "New Product Manager Job Alert",
        "message": "=Hi {{$json[\"Name\"]}},  \n\nHere is a new Product job for you 🚀  \n\n<b>Role:</b> {{$json[\"title\"]}}  \n<b>Company:</b> {{$json[\"company\"]}}  \n<b>Location:</b> {{$json[\"location\"]}}  \n\nApply here:  \n{{$json[\"job_link\"]}}  \n\nBest,  \nAI Job Alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        928
      ],
      "id": "1af1c98f-bbd9-4ae9-a2d0-fca57b718b2a",
      "name": "Send a message",
      "webhookId": "0c136364-a020-4493-82a4-5c562627bf60",
      "credentials": {
        "gmailOAuth2": {
          "id": "WO1pnCgTV2WlYq4k",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "96b0d60e-b89b-4cd4-afce-202e231836a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cff77f6763984fe6540bd5a484c4395777983c8792d3d4e90a1ba904c3342980"
  },
  "id": "GWQgkrRVgkNc6oiF",
  "tags": []
}